<div>
  <h1><%= index %>. <%= species.speciesName %></h1>
  <table class="w-full table-striped my-4" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="w-1/2 text-right font-bold px-4 py-2">Pavadinimas</td>
        <td class="w-1/2 px-4 py-2"><%= species.speciesName %></td>
      </tr>
      <tr>
        <td class="w-1/2 text-right font-bold px-4 py-2">Lot. pavadinimas</td>
        <td class="w-1/2 px-4 py-2 font-italic"><%= species.speciesNameLatin %></td>
      </tr>
      <tr>
        <td class="w-1/2 text-right font-bold px-4 py-2">Įtraukta į sąrašus</td>
        <td class="w-1/2 px-4 py-2"><%= species.speciesConventionsText || '-' %></td>
      </tr>
    </tbody>
  </table>

  <% if (form.screenshot) { %>
  <img src="<%= form.screenshot %>" class="w-full my-4" />
  <% } %>

  <div>Stebėjimo duomenys:</div>

  <%- include('forms/table', {forms: [form], translates: translates[species.speciesId],
  hasEvolution: form.hasEvolution, hasActivity: form.hasActivity, hasArea: true, hideIndex: true }); %>
</div>
