<div>
  <h1><%= index %>. <%= place.placeCode %> (<%= species.speciesName %>)</h1>
  <table class="w-full table-striped my-4" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="w-1/2 text-right font-bold px-4 py-2">
          Radavietės / augavietės kodas
        </td>
        <td class="w-1/2 px-4 py-2"><%= place.placeCode %></td>
      </tr>
      <tr>
        <td class="w-1/2 text-right font-bold px-4 py-2">Pavadinimas</td>
        <td class="w-1/2 px-4 py-2"><%= species.speciesName %></td>
      </tr>
      <tr>
        <td class="w-1/2 text-right font-bold px-4 py-2">Lot. pavadinimas</td>
        <td class="w-1/2 px-4 py-2 font-italic"><%= species.speciesNameLatin %></td>
      </tr>
      <tr>
        <td class="w-1/2 text-right font-bold px-4 py-2">Įtraukta į sąrašus</td>
        <td class="w-1/2 px-4 py-2"><%= species.speciesConventionsText || '-' %></td>
      </tr>
      <tr>
        <td class="w-1/2 text-right font-bold px-4 py-2">Plotas</td>
        <td class="w-1/2 px-4 py-2"><%= place.placeAreaText || '-' %></td>
      </tr>
    </tbody>
  </table>
  <div>Radavietės / augavietės žemėlapis:</div>

  <% if (place.screenshot) { %>
  <img
    src="<%= place.screenshot %>"
    class="w-full my-4"
  />
  <% } %>

  <div>Radavietės / augavietės stebėjimų duomenys:</div>

  <%- include('forms/table', {forms: place.forms, showCoordinates: false, translates: translates[species.speciesId],
  hasEvolution: place.hasEvolution, hasActivity: place.hasActivity, hasMethod: place.hasMethod, hasArea: place.hasArea }); %> <% if
  (showCoordinates) { %>
  <div>Radavietės / augavietės koordinatės (LKS-94 koordinačių sistema):</div>
  <div class="text-sm mt-2">
    <%- include('coordinates', {coordinates: place.coordinates}); %>
  </div>
  <% } %>
</div>
